---
const { pros = [], cons = [], title = 'Kurz eingeordnet' } = Astro.props;
---

<section class="pros-cons">
  <h2>{title}</h2>
  <div class="pros-cons__grid">
    <div>
      <h3>Spricht dafur</h3>
      <ul class="check-list">
        {pros.map((item: string) => <li>{item}</li>)}
      </ul>
    </div>
    <div>
      <h3>Vorher beachten</h3>
      <ul class="dash-list">
        {cons.map((item: string) => <li>{item}</li>)}
      </ul>
    </div>
  </div>
</section>
